.git
.github
.bundle
node_modules
vendor/bundle
log/*
tmp/*
!tmp/.keep
!tmp/pids/.keep
storage/*
!storage/.keep
public/assets
app/assets/builds/*
!app/assets/builds/.keep
docs
test
.env
.env.*
!.env.example
config/master.key
*.log
.DS_Store
